* {
  font-family: "Helvetica Neue", sans-serif;
}

body {
  padding: 60px;
}

input {
  font-size: 1.3em;
  width: 100%;
  color: grey;
}

.card-grid {
  display: block;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.card {
  align-content: center;
  border: 1px solid;
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 10px;
  margin-right: 10px;
  width: 100%;
}

.card p {
  padding: 5px;
  text-align: center;
}
.card img {
  max-height: 170px;
  width: 100%;
}
.pre-show {
  height: 400px;
  width: 25%;
}

.form {
  margin: 50px;
}
